include README
include AUTHORS
include INSTALL
include LICENSE
include CHANGES
include MANIFEST.in
include ez_setup.py
recursive-include maintenancemode *
exclude buildout.cfg
exclude bootstrap.py
prune testproject